<!-- your html code here -->
<div class="container">
    <div class="row" name="ancla-1">
      <div class="mt-5 col-7 ">
        <h1> This First Heading Will Catch Your Eye </h1>           
        Donec ullamcorpre nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod sempter. praesent commodo cursis magna, vel scelerisque nisl consectetur. fusce dapibus, tellus ac cursus commodo.
      </div>
      <div class=" mt-5 mb-5 p-2 col-5">
        <img src="https://i.pinimg.com/736x/d3/ef/94/d3ef947bfb8e7f99a750925bb2d9ec96--old-man-cartoon-drawing-cartoons.jpg" class="rounded-circle" width="70%" height="70%"alt="Walter White">
      </div>
    </div>
  </div>