<!-- your html code here -->
<div class="container">
    <div class="row" id="ancla-3">
        <div class="mt-5 col-12">
            <div class="portfolio">
                <h2>Portfolio</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias dolore nam iste cumque, exercitationem amet eligendi magnam quos esse quisquam nemo perspiciatis pariatur asperiores repellendus? Odit harum minima magni rem!</p>
            </div>
        </div>    
        <div class="col">
            <div class="card" >
                <img src="https://media.giphy.com/media/Y3Dw4HxQcUKoU/200w.gif"  width="89%" height="89%" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Yo soy groot</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
            </div>
        </div>
        <div class="col">
            <div class="card" >
                <img src="https://media1.tenor.com/images/c85b9a156f0e3d2169565380b4b2d6aa/tenor.gif?itemid=7930972" width="100%" height="100%" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Yo soy groot</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
            </div>
        </div>   
        <div class="col">
            <div class="card">
                <img src="https://media.giphy.com/media/Y3Dw4HxQcUKoU/200w.gif" width="89%" height="89%" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Yo soy groot</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
            </div>
        </div>         
    </div>
</div>
